@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Light.woff2') format('woff2'),
        url('fonts/ProximaNova-Light.woff') format('woff'),
        url('fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}




body {
	font-family: 'Proxima Nova';
	font-size: 16px;
	color: #000;
}

h2 {
	font-family: 'Proxima Nova';
	font-size: 41px;
	color: #000000;
}

nav.navbar {
	background: #fff;
	height: 104px;
	line-height: 104px;
}
.navbar-default .navbar-nav>li>a {
	line-height: 104px;
	padding: 0 19px;
	color: #5d7e93;
}
.navbar-default .navbar-nav>li>a.download {
	padding-right: 32px;
	background: url(img/download-icon.png) right center no-repeat;
	text-decoration: underline;
	color: #f45d8b;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.download:hover {
	color: #f45d8b;
	text-decoration: none;
}

#logo {
	text-align: center;
	width: 200px;
	margin: -50px auto 0;
	background: #fff;
	position: relative;
	z-index: 2;
}
#logo img {
	max-width: 96px;
	height: auto;
}
.logo-text {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(0,0,0,0.42);
	letter-spacing: 1px;
	margin: 17px 0 35px;
}

.your-guru {
	background: url(img/guru-bg.png) center top no-repeat;
}
.your-guru .guru-img img {
	display: inline-block;
	margin-top: -130px;
	max-width: 402px;
}
.your-guru .iphone-img img {
	display: inline-block;
	margin-top: -13px;
	max-width: 388px;
}
.your-guru:hover {
	transform: translate3d(2,2,1);
}
.guru-parallax {
	background: url(img/waves.png) bottom center no-repeat;
	background-size: 100% auto;
	padding-bottom: 325px;
}
.your-guru p {
	font-size: 18px;
	color: rgba(0,0,0,0.42);
}
.guru-parallax h2 {
	font-size: 41px;
	line-height: 49px;
	position: relative;
	z-index: 2;
}
.waves {
	margin: 35px 0 0;
}

.brain-wrapper {
	height: 600px;
	background: url(img/brain.png) top center no-repeat;
}
.brain h2 {
	margin-bottom: 110px;
}
.brain > p {
	font-size: 18px;
	color: rgba(0,0,0,0.42);
	text-align: center;
	margin-top: 35px;
}

.divider2,
.divider3 {
	text-align: center;
}
.divider2 img,
.divider3 img {
	display: inline-block;
	max-width: 30%;
}
.divider3 {
	margin: 50px 0;
}

.app .container {
	max-width: 1030px;
}
.app .number {
	font-size: 72px;
	color: #dcebf1;
	margin: 50px 0 0;
}
.app h3 {
	font-size: 30px;
	color: #5d7e93;
	margin: 80px 0 40px;
}
.app p {
	max-width: 550px;
	margin: 0;
}
.app img {
	display: inline-block;
}

.download-banner {
	background: url(img/download.png) top center no-repeat;
	height: 322px;
	padding-top: 195px;
}
.download-banner p {
	color: rgba(0,0,0,0.42);
	margin: 0;
}
.download-banner span {
	color: #5d7e93;
}

footer {
	height: 942px;
	background: url(img/footer-left.png) top left no-repeat,
		url(img/footer-right.png) top right no-repeat;
		background-size: auto 100%;
}
footer h2 {
	margin-top: 140px;
}
form {
	padding-bottom: 230px;
	background: url(img/form-bg.png) bottom center no-repeat;
	margin: 75px 0 60px;
}
form input {
	width: 100%;
	height: 64px;
	line-height: 34px;
	border: 1px solid #dcebf1;
	border-radius: 4px;
	padding: 15px 30px;
	color: #5d7e93;
	font-size: 18px;
}
form input:focus {
	box-shadow: 0px 12px 36px 0px rgba(220, 235, 241, 1); 
	border: 1px solid transparent;
	outline: none;
}
form button {
	margin: 34px auto;
	display: block;
	border: none;
	padding-bottom: 100px;
	background: url(img/send.png) bottom center no-repeat;
	text-decoration: underline;
	font-size: 24px;
	color: #000;
}
form button:hover {
	text-decoration: none;
}
.footer-text {
	font-size: 14px;
	color: rgba(0,0,0,0.36);
}
.footer-text a {
	color: #5d7e93;
	text-decoration: underline;
}



